@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.register {
    width: 100%;
    height: 100vh;
    border: 1px solid #000;
    background: #2F8CAD;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;

    .box {
        position: relative;
        width: 800px;
        height: 524px;
        padding: 162px 110px 32px 110px;
        background: #FFF;

        .profile-img {
            position: absolute;
            left: 301px;
            top: -90px;
        }

        form {
            input {
                width: 100%;
                height: 51px;
                margin-bottom: 32px;
                padding: 12px 0px 10px 22px;
                color: #000;
                font-family: Poppins;
                font-size: 17px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 1.7px;
            }

            .login-btn {
                border: none;
                width: 213px;
                height: 65px;
                display: block;
                margin-left: auto;
                border-radius: 12px;
                background: #2F8CAD;
                color: #FFF;
                text-align: center;
                font-family: Poppins;
                font-size: 22px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 2.2px;
            }
            .error {
                font-size: 20px;
                margin-top: 20px;
                text-align: center;
                background-color: #FEE;
                border: 1px solid #EDD;
                color: #A66;
                display: none;
            }
            }
        }
    }

