@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.portfolio {
    width: 100%;
    min-height: 100vh;
    padding: 120px 80px;
    background: rgba(0, 153, 255, 0.04);
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        margin-bottom: 16px;
        color: var(--Primary-colors, #333);
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
    }

    h1 {
        margin-bottom: 32px;
        color: var(--Primary-colors, #333);
        font-family: Inter;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 138%;
    }

    p {
        color: var(--Body, #494949);
        text-align: center;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 156%;
    }
}